@import url(http://fonts.useso.com/css?family=Open+Sans:400,600,700);
* {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: #5887FF;
	text-decoration: none;
	text-shadow: none;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
a:hover {
	color: #DF3927;
	text-decoration: none;
}

/* Header
----------------------------------------------*/
.header {
	position: fixed;
	width: 100%;
	z-index: 50;
	background: #000;
	opacity: 0.8;  /* 透明度 */
}
.header .navbar {
	margin: 0;
	border: 0;
	background: #000;
	opacity: 0.8;  /* 透明度 */

}

/* 字体大小 */
.navbar-inverse .navbar-nav > li > a {
	font-size: 1.2em;
	line-height: normal;
	margin: 17px;
	padding: 2px 10px !important;
	border-radius: 0px;
}
/* 下划线*/
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	color: #fff;
	background: none;
	border-bottom:2px solid #5887FF;
	border-radius: 0px;
}

/* 大写 */
.header .navbar-nav > li > a {
	padding: 25px 18px;
	text-transform: uppercase;
}

/*--- Banner ----*/
.banner-container {
	width: 100%;
	position: relative;
	padding: 0px;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.4);
	/*background: url("../images/banner-bg.jpg") no-repeat;*/
	background-size: 100% 100%;
	background-size: cover;
	position: relative;
}
.banner-container > img {
	width: 100%;

}
.banner-content {
	position: absolute;
	z-index: 3;
	top: 0px;
	left: 0px;
	right: 0px;
}
.banner-content h2 {
	color: #fff;
	font-size: 3.5em;
	margin: 2% 0 30px;
	line-height: 1.2em;
}
.banner-content p {
	font-size: 1.6em;
	font-weight: normal;
	font-style: normal;
	color: #fff;
}
.banner-content header {
color: #fff;
padding-top: 20%;
}
.banner-content .btn {
text-align:center;
}
.banner-content .social-icons{
 text-align:center;
 margin-top:20px;
}
.banner-content .social-icons a{
text-align: center;
border: 1px solid #fff;
border-radius: 90px !important;
height: 52px;
line-height: 60px;
padding: 0px;
width: 52px;
display: inline-block;
color:#fff;
margin:0 6px;
}
.banner-content .social-icons a i{
font-size:26px;
}
.banner-content .social-icons a:hover {
	background:#5887FF;
	color:#fff;
	border: 1px solid #5887FF;
}
.banner-content .More:hover{
	background:#5887FF;
	color:#fff;
}
.banner-content .More{
	background: #fff;
	clear: right;
	margin: 0 auto;
	display: block;
	text-align: center;
	width: 90px;
	color:#000;
	padding:8px 5px;
	margin-top:25px;
}
.banner-content header  h1{
 	text-align:center;
 	margin: 0;
	padding: 0;
	font-size: 4.5em;
	font-weight: 700;
	letter-spacing: .1em;
	line-height: 1em;
	text-transform: uppercase;
}
.banner-content header p{
 	text-align:center;
 	font-size: 2em;
	margin-bottom: 5px;
	padding: 0 8px;
	letter-spacing: .1em;
	line-height: 3em;
	text-transform: uppercase;
}
.centered {
	margin-left: auto;
	margin-right: auto;
	float: none;
}

.header .navbar-brand {
	padding-left: 0;
}
.navbar-nav {
	float: right;
}
.navbar-inverse .navbar-nav > li > a {
	padding: 5px 12px !important;
	border-radius: 5px;
	margin: 19px 0px;
}


/*Intro Content*/
#introText {
	padding: 60px 0;
	background: #000;
}
#introText h1 {
	font-size: 40px;
	margin: 0;
	padding-bottom: 16px;
	font-variant: small-caps;
	color: #fff;
}
#introText p {
	color: #AEAEAE;
	font-size: 16px;
}

/*aboutMe*/
#aboutMe{
padding:60px 0;
	}
#aboutMe .txtHead {
	background: #fff;
	padding: 20px 10px;
}
#aboutMe .txtHead {
	font-size: 58px;
	color: #5E5E5E;
}
.tileBox img{
	overflow:hidden;
	border-radius:120px;
	width:300px;
	box-shadow: 12px 0px 0px 12px rgba(13, 113, 165, 0.2), -12px 0px 0px 12px rgba(109, 139, 232, 0.2);
}
.tileBox p {
	font-size: 15px;
	color: #777777;
	padding: 20px;
	margin: 0px;
}

/*quote-parlex*/
.bg_parlex {
	padding-top: 0px;
	background: #000;
/*
	background-image: url('../images/banner-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
*/
}
.parlex-back {
	padding: 60px 20px;
	background-color: rgba(0, 0, 0, 0.37);
	color: #FDFDFD !important;
}
.parlex-back h2{
	margin:0 20px;
}
